# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Django
web/staticfiles/
db.sqlite3

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store

# Trained ML models

ai_service/app/models/ticket_classification/tfidf_vectorizer.pkl
ai_service/app/models/ticket_classification/ticket_classification_model.pkl
ai_service/app/models/priority_prediction/priority_prediction_model.pkl
ai_service/app/models/priority_prediction/tfidf_vectorizer.pkl