{% extends "base.html" %}
{% block title %}Ticket Management | ResolveAI{% endblock %}
{% block page_title %}Ticket Management{% endblock %}

{% block content %}
<ul class="nav nav-tabs mb-3">
  <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#unassigned">Unassigned ({{ unassigned_page_obj.paginator.count }})</a></li>
  <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#assigned">Assigned ({{ assigned_page_obj.paginator.count }})</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="unassigned">
    {% include "tickets/_ticket_rows.html" with tickets=unassigned_tickets %}
    {% include "includes/pagination.html" with page_obj=unassigned_page_obj page_param="unassigned_page" %}
  </div>
  <div class="tab-pane fade" id="assigned">
    {% include "tickets/_ticket_rows.html" with tickets=assigned_tickets %}
    {% include "includes/pagination.html" with page_obj=assigned_page_obj page_param="assigned_page" %}
  </div>
</div>
{% endblock %}